---
layout: default
title: Startseite
---
{% if paginator.page == 1 %}
<div>
  <img src="/assets/screenshots/dienstplan.png" alt="screenshot80">
  <p>Willkommen im Blog vom Blaulichtplaner Team. Hier veröffentlichen wir aktuelle News zu den Updates der
    Blaulichtplaner App und ein <a href="{% link handbuch.html %}">Handbuch mit Erklärungen</a> zu den verschiedenen
    Funktionen unserer Dienstplanungs-App.</p>
  <p>Mit der Blaulichtplaner App erstellen Sie den Dienstplan für Ihren Rettungsstandort mit wenigen Klicks.
    Die App vereinfacht die Organisation von mehreren Standorten und erstellt komplette Abrechnungen mit den
    Kostenträgern. Gerade der Rettungsdienst profitiert von der vereinfachten Dienstplanung und automatisierter
    Abrechnung. </p>

  <p>Auf <a target="_blank" href="https://www.youtube.com/channel/UCuEmEaZTLiPk0If6FWLwqWw">unserem YouTube Kanal</a>
    finden Sie aktuelle Erklärvideos zu unserer App.</p>

  <p>Unsere App können Sie im <a href="https://itunes.apple.com/us/app/blaulichtplaner/id1454388217?l=de&ls=1&mt=8">App
      Store</a> und im <a href="https://play.google.com/store/apps/details?id=de.grundid.blaulichtplaner">Google Play
      Store</a> downloaden.
    Um sofort loslegen zu können öffnen Sie den Blaulichtplaner direkt in Ihrem Browser unter <a
      href="https://blaulichtplaner.app">blaulichtplaner.app</a>.

  </p>
</div>
{% endif %}
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {% if post.truncated_preview == true or site.blog.truncated_preview and post.truncated_preview != false %}
    {{ post.excerpt | markdownify }}
    <a href="{{ site.baseurl }}{{ post.url }}">Weiter lesen...</a>
    {% else %}
    {{ post.content | markdownify }}
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
    <i class="fa fa-arrow-circle-o-left"></i>
    <span class="pagination-text">Ältere Beiträge</span>
  </a>
  {% else %}
  <span class="pagination-item">
    <i class="fa fa-arrow-circle-o-left"></i>
    <span class="pagination-text">Ältere Beiträge</span>
  </span>
  {% endif %}

  <!-- <a class="pagination-item" href="#">archive</a> -->

  {% if paginator.previous_page %}
  <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
    <span class="pagination-text">Neuere Beiträge</span>
    <i class="fa fa-arrow-circle-o-right"></i>
  </a>
  {% else %}
  <span class="pagination-item">
    <span class="pagination-text">Neuere Beiträge</span>
    <i class="fa fa-arrow-circle-o-right"></i>
  </span>
  {% endif %}
</div>