<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body>
  <nav class="nav-main">
    <ul>
      <li class="logo" style="vertical-align: middle;"><a href="{{ site.baseurl }}/"><img height="30" width="30"
            src="{{ site.baseurl }}/favicon-small.png"></a></li>
      <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/">Blaulichtplaner Blog</a></li>
      <li class="hvr-underline-reveal"><a href="{% link handbuch.html %}">Handbuch</a></li>
      <li class="hvr-underline-reveal"><a href="https://blaulichtplaner.de">Homepage <i
            class="fa fa-external-link"></i></a></li>
    </ul>
  </nav>

  <div class="container content">
    <main>
      {{ content }}
    </main>

    <footer class="footer">
      <hr>
      <div>
        <a href="https://itunes.apple.com/de/app/blaulichtplaner/id1454388217?l=de&ls=1&mt=8"><img class="badge"
            src="/assets/badges/app-store-badge.svg"></a>&nbsp;
        <a href="https://play.google.com/store/apps/details?id=de.grundid.blaulichtplaner"><img class="badge"
            src="/assets/badges/google-play-badge.svg"></a>&nbsp;
        <a href="https://blaulichtplaner.app"><img class="badge" src="/assets/badges/web-app-badge.svg"></a>
      </div>
      <small>
        <span class="copyright"><i class="fa fa-copyright"></i> <time datetime="{{ site.time | date_to_xmlschema }}">{{
            site.time | date: '%Y' }}</time> <a href="https://blaulichtplaner.de">Blaulichtplaner</a></span> &middot;
        MedPlan Solutions UG &middot;
        <a href="https://blaulichtplaner.de/privacy.html">Datenschutzerklärung</a> &middot;
        <a href="https://blaulichtplaner.de/imprint.html">Impressum</a>
      </small>
      <div class="ftr-links">
        <a href="https://blaulichtplaner.de"><i class="fa fa-globe"></i></a>
        <a href="mailto:info@blaulichtplaner.de"><i class="fa fa-envelope"></i></a>
      </div>
    </footer>
  </div>

</body>

</html>